html {
    /*-webkit-transform: translateZ(0);*/
    min-height: 1200px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 180vh !important;
}

body {
    background-color: #000 !important;
}

.content {
    background-color: #222;
}

#DEVEContent {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
}

#Header {
    padding: 10px;
}

.img.no-parallax {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.themes {
    z-index: 1000;
    position: fixed;
    top: auto;
    bottom: -200px;
    width: 100vw;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.themes.active {
    bottom: 0;
    height: auto;
}

.themes img {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 0;
    width: 150px;
    height: 150px;
}

.themes img:hover {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    width: 140px;
    height: 140px;
}

.themes img:active {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    width: 125px;
    height: 125px;
}

.img-bg {
    width: 100vw;
    overflow: hidden;
    height: 120vh;
    position: absolute;
    opacity: 1;
    background-color: #000;
}

.img {
    width: 100vw;
    overflow: hidden;
    height: 120vh;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    -webkit-box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.8);
}

.aura .img {
    background-image: url("../images/personalsite_aura.png");
}

.ocean .img {
    background-image: url("../images/personalsite_ocean.png");
}

.fish .img {
    background-position-y: bottom;
    background-position-x: center;
    background-image: url("../images/personalsite_fish.png");
}

.stairs .img {
    background-position-y: center;
    background-image: url("../images/personalsite_stairs.png");
}

.bushes .img {
    background-position-y: top;
    background-image: url("../images/personalsite_bushes.png");
}

.title {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    width: 450px;
    height: 140px;
    padding-top: 9px;
}

.title:before {
    /*-webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;*/
    display: inline-block;
    content: '';
    top: 5px;
    left: -135px;
    width: 120px;
    height: 120px;
    background-size: contain;
    position: absolute;
    background-image: url(../images/me.png);
}

.aura .title {
    background-color: rgba(66, 57, 76, 0.5);
}

.ocean .title {
    background-color: rgba(255, 255, 255, 0.8);
}

.fish .title {
    background-color: rgba(0, 55, 44, 0.7);
}

.stairs .title {
    background-color: rgba(75, 75, 81, 0.7);
}

.bushes .title {
    background-color: rgba(10, 10, 48, 0.8);
}

.title:after {
    width: 400px;
    height: 100px;
    content: '';
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.aura .title:after {
    background-image: url("../images/personalsite_aura_title.png");
}

.ocean .title:after {
    background-image: url("../images/personalsite_ocean_title.png");
}

.fish .title:after {
    background-image: url("../images/personalsite_fish_title.png");
}

.stairs .title:after {
    background-image: url("../images/personalsite_stairs_title.png");
}

.bushes .title:after {
    background-image: url("../images/personalsite_bushes_title.png");
}

.projects {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.projects.active {
    opacity: 1;
    max-height: 2000px;
}

.nav-grid {
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    display: block;
    padding: 40px;
    margin-top: 20px;
    margin-left: 200px;
    width: 500px;
    text-align: center;
}

.nav-grid .nav-grid-item {
    cursor: pointer;
    color: #FFF;
    display: inline-block;
    text-align: center;
    width: 100px;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.0);
}

.nav-grid .nav-grid-item.nav-grid-item-auto {
    width: auto!important;
}

.nav-grid .nav-grid-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.ocean .nav-grid .nav-grid-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.aura .nav-grid {
    background-color: rgba(66, 57, 76, 0.5);
}

.ocean .nav-grid {
    background-color: rgba(255, 255, 255, 0.8);
}

.ocean .nav-grid .nav-grid-item {
    color: #000;
}

.fish .nav-grid {
    background-color: rgba(0, 55, 44, 0.7);
}

.stairs .nav-grid {
    background-color: rgba(75, 75, 81, 0.7);
}

.bushes .nav-grid {
    background-color: rgba(10, 10, 48, 0.8);
}

.nav-grid .nav-grid-item .fa {
    font-size: 40px;
    margin: 20px;
    display: block;
}

.nav-grid a.nav-grid-item {
    text-decoration: none;
}

.copy {
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
    padding: 60px;
    /*padding-top:0;*/
    width: 450px;
    border-right: 0px solid rgba(255, 255, 255, 0);
}

.blog-copy {
    padding-left: 10vw;
    padding-right: 10vw;
}

.copy h1 {
    margin-top: 0;
}

.aura .copy {
    background-color: rgba(66, 57, 76, 0.5);
    color: #FFF;
}

.aura .blog-copy {
    background-color: rgba(66, 57, 76, 0.9)!important;
    color: #FFF;
}

.aura .copy b,
.aura .copy h2,
.aura .copy h1{
     color: #71BE60;

}
.ocean .copy {
    background-color: rgba(255, 255, 255, 0.9);
    color: #222;
}
.ocean .blog-copy {
    background-color: rgba(255, 255, 255, 0.95);
    color: #222;
}
.ocean .copy h1,
.ocean .copy h2,
.ocean .copy li {
    color: #000;
}
.ocean .copy b {
    color: #000;
}
.fish .copy {
    background-color: rgba(0, 55, 44, 0.7);
    color: #FFF;
}
.fish .blog-copy {
    background-color: rgba(0, 55, 44, 0.9)!important;
    color: #FFF;
}
.fish .copy b {
    color: #fe9a58;
}
.fish .copy h1,
.fish .copy h2 {
    color: #fe9a58;
}
.fish .copy li {
    color: #fff;
}
.stairs .copy {
    background-color: rgba(75, 75, 81, 0.7);
    color: #FFF;
}
.stairs .blog-copy {
    background-color: rgba(75, 75, 81, 0.95)!important;
    color: #FFF;
}
.stairs .copy b {
    color: #FFF;
    padding-left: 4px;
    padding-right: 2px;
    background-color: rgba(75, 75, 81, 0.9);
}
.bushes .copy {
    background-color: rgba(10, 10, 48, 0.8);
    color: #FFF;
}
.bushes .copy b {
    color: #FFF;
    padding-left: 4px;
    padding-right: 2px;
    background-color: rgba(10, 10, 48, 0.8);
}
.mobile .copy {
    padding: 20px !important;
    /*width: auto !important;*/

    font-size: 18px;
}
.unpop-animation {
    opacity: 1;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation: unpop-anim 0.5s;
    -moz-animation: unpop-anim 0.5s;
    -o-animation: unpop-anim 0.5s;
    animation: unpop-anim 0.5s;
}
.pop-animation {
    opacity: 0;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation: pop-anim 0.5s;
    -moz-animation: pop-anim 0.5s;
    -o-animation: pop-anim 0.5s;
    animation: pop-anim 0.5s;
}
.nav-grid .nav-grid-item .fa.fa-file-pdf-o {
    color: #FF5b5b !important;
}
.nav-grid .nav-grid-item .fa.fa-twitter-square {
    color: #1DA1F2 !important;
    width: 30px;
    height: 30px;
    line-height: 27px;
}
.nav-grid .nav-grid-item .fa.fa-linkedin-square {
    color: #0077B5 !important;
    width: 30px;
    height: 30px;
    line-height: 27px;
}
@-webkit-keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}
@-moz-keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}
@-o-keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}
@keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}
@-webkit-keyframes unpop-anim {
    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}
@-moz-keyframes unpop-anim {
    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}
@-o-keyframes unpop-anim {
    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}
@keyframes unpop-anim {
    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}
@media only screen and (max-width: 768px) {
    .title {
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
        padding-bottom: 10px;
        height: auto;
    }

    .title:after {
        margin-top: 30px;
        margin-left: 115px;
        width: auto;
        max-width: 400px;
        margin-right: 20px;
    }

    .title:before {
        left: -20px;
        top: 13px;
    }

    .copy {
        margin-left: 5%;
        width: 90%;
    }

    .nav-grid {
        margin-left: 5%;
        width: 90%;
    }

    .nav-grid .nav-grid-item {
        width: 92%;
        margin-right: 4%;
        text-align: left;
        font-size: 12px;
        margin-bottom: 18px;
    }

    .nav-grid .nav-grid-item.nav-grid-item-auto {
        /*width: 92%!important;*/
    }

    .nav-grid .nav-grid-item .fa {
        margin: 0;
        font-size: 30px;
        /*padding-right:10px;*/
        width: 30px;
        /*height: 30px;*/
        /*line-height: 7px;*/
        display: inline-block;
    }

    .nav-grid .nav-grid-item .nav-label {
        margin: 0;
        float: right;
        padding-top: 4px;
        display: inline-block;
        width: 70%;
        font-size: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {}
@media only screen and (min-width: 768px) {
    .title {
        margin-left: 150px;
        width: 500px;
    }

    .title:after {
        margin-left: 50px;
        width: 400px;
    }

    .title:before {
        left: -135px;
    }

    .copy {
        margin-left: 150px;
        width: 500px;
    }

    .copy.blog-copy {
        margin-left: 5vw;
        width: 90vw!important;
    }

    .nav-grid {
        margin-left: 150px;
        width: 500px;
    }
}
@media only screen and (min-width: 1024px) and (max-width:1400px) {}
@media only screen and (min-width: 1024px) {
    .title {
        margin-left: 400px;
        width: 500px;
    }

    .title:after {
        margin-left: 50px;
        width: 400px;
    }

    .title:before {
        left: -135px;
    }

    .copy {
        margin-left: 400px;
        width: 500px;
    }

    .copy.blog-copy {
        margin-left: 10vw;
        width: 80vw!important;
    }

    .nav-grid {
        margin-left: 400px;
        width: 500px;
    }
}
@media only screen and (min-width: 1400px) {}