
html {
    min-height: 1200px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 180vh !important;
}

body {
    background-color: #000 !important;
}

#DEVEContent {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
}

#Header {
    padding: 10px;
}

.themes {
    z-index: 1000;
    position: fixed;
    top: auto;
    bottom: -200px;
    width: 100vw;
    height: 200px;
    background-color: rgba(0,0,0,0.8) !important;
}

    .themes.active {
        bottom: 0;
        height: auto;
    }

    .themes img {
        cursor: pointer;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 0;
        width: 150px;
        height: 150px;
    }

        .themes img:hover {
            cursor: pointer;
            margin-left: 10px;
            margin-right: 5px;
            margin-top: 10px;
            width: 140px;
            height: 140px;
        }

        .themes img:active {
            cursor: pointer;
            margin-left: 20px;
            margin-right: 10px;
            margin-top: 10px;
            width: 125px;
            height: 125px;
        }

.img-bg {
    width: 100vw;
    overflow: hidden;
    height: 120vh;
    position: absolute;
    opacity: 1;
    background-color: #000;
}

.img {
    width: 100vw;
    overflow: hidden;
    height: 120vh;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    -webkit-box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.38);
    box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.38);
}

.aura .img {
    background-image: url("../images/personalsite_aura.png");
}

.ocean .img {
    background-image: url("../images/personalsite_ocean.png");
}

.fish .img {
    background-image: url("../images/personalsite_fish.png");
}

.stairs .img {
    background-image: url("../images/personalsite_stairs.png");
}

.title {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    width: 450px;
    height: 140px;
    padding-top: 9px;
}



    .title:before {
        /*-webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;*/
        display: inline-block;
        content: '';
        top: 5px;
        left: -135px;
        width: 120px;
        height: 120px;
        background-size: contain;
        position: absolute;
        background-image: url(../images/me.png);
    }



.aura .title {
    background-color: rgba(66,57,76,0.5);
}

.ocean .title {
    background-color: rgba(255,255,255,0.8);
}

.fish .title {
    background-color: rgba(0,55,44,0.7);
}

.stairs .title {
    background-color: rgba(75,75,81,0.7);
}

.title:after {
    width: 400px;
    height: 100px;
    content: '';
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.aura .title:after {
    background-image: url("../images/personalsite_aura_title.png");
}

.ocean .title:after {
    background-image: url("../images/personalsite_ocean_title.png");
}

.fish .title:after {
    background-image: url("../images/personalsite_fish_title.png");
}

.stairs .title:after {
    background-image: url("../images/personalsite_stairs_title.png");
}


.shuffle {
    z-index: 11;
    position: absolute;
    right: 10vw;
    width: 300px;
    top: 0;
    height: 50px;
    cursor: pointer;
}

    .shuffle:after {
        margin-top: 10px;
        margin-left: 20px;
        width: 250px;
        height: 30px;
        display: block;
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
    }

.aura .shuffle {
    background-color: rgba(66,57,76,0.5);
}

.ocean .shuffle {
    background-color: rgba(255,255,255,0.8);
}

.fish .shuffle {
    background-color: rgba(0,55,44,0.7);
}

.stairs .shuffle {
    background-color: rgba(255,255,255,0.7);
}


.projects {
   
    
        max-height: 0; 
    opacity:0;
      padding-top:0;
      padding-bottom:0;
    overflow: hidden;
    
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

    .projects.active {
        
    opacity:1;


        max-height: 2000px;
    }

.nav-grid {
    background-color: rgba(255,255,255,0.1);
    position: relative;
    display: block;
    padding: 40px;
    margin-top: 20px;
    margin-left: 200px;
    width: 500px;
    text-align: center;
}





    .nav-grid .nav-grid-item {
        cursor: pointer;
        color: #FFF;
        display: inline-block;
        text-align: center;
        width: 100px;
        margin: 0;
        padding: 10px;
        background-color: rgba(255,255,255,0.0);
    }

        .nav-grid .nav-grid-item:hover {
            background-color: rgba(255,255,255,0.2);
        }

.ocean .nav-grid .nav-grid-item:hover {
    background-color: rgba(0,0,0,0.2);
}

.aura .nav-grid {
    background-color: rgba(66,57,76,0.5);
}

.ocean .nav-grid {
    background-color: rgba(255,255,255,0.8);
}

    .ocean .nav-grid .nav-grid-item {
        color: #000;
    }

.fish .nav-grid {
    background-color: rgba(0,55,44,0.7);
}

.stairs .nav-grid {
    background-color: rgba(75,75,81,0.7);
}

.nav-grid .nav-grid-item .fa {
    font-size: 40px;
    margin: 20px;
    display: block;
}

.nav-grid a.nav-grid-item {
    text-decoration: none;
}

.copy {
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
    padding: 60px;
    /*padding-top:0;*/
    width: 450px;
    border-right: 0px solid rgba(255,255,255,0);
}

.aura .copy {
    background-color: rgba(66,57,76,0.5);
    color: #FFF;
}

    .aura .copy b {
        color: #71BE60;
    }

.ocean .copy {
    background-color: rgba(255,255,255,0.9);
    color: #222;
}

    .ocean .copy b {
        color: #000;
    }

.fish .copy {
    background-color: rgba(0,55,44,0.7);
    color: #FFF;
}

    .fish .copy b {
        color: #fe9a58;
    }

.stairs .copy {
    background-color: rgba(75,75,81,0.7);
    color: #FFF;
}

    .stairs .copy b {
        color: #22253C;
    }

.unpop-animation {
    opacity: 1;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation: unpop-anim 0.5s;
    -moz-animation: unpop-anim 0.5s;
    -o-animation: unpop-anim 0.5s;
    animation: unpop-anim 0.5s;
}

.pop-animation {
    opacity: 0;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation: pop-anim 0.5s;
    -moz-animation: pop-anim 0.5s;
    -o-animation: pop-anim 0.5s;
    animation: pop-anim 0.5s;
}

@-webkit-keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}

@-moz-keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}

@-o-keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}

@keyframes pop-anim {
    0% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }

    100% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }
}

@-webkit-keyframes unpop-anim {

    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}

@-moz-keyframes unpop-anim {

    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}

@-o-keyframes unpop-anim {
    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}

@keyframes unpop-anim {
    0% {
        /*margin-top: 20vh;
        left: 20vw;
        width: 40vw;
        height: 60vh;*/
        opacity: 0;
    }

    100% {
        /*margin-top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;*/
        opacity: 1;
    }
}





@media only screen and (max-width: 768px) {
    .title {
        margin-left: 75px;
        margin-right:9%;
        width: auto;
            padding-bottom:30px;
        height:auto;
    }

        .title:after {

            margin-top:30px;
            margin-left:75px;
            width: auto;
            margin-right:20px;
        }

        .title:before {
          
        left: -60px;
        }

    .copy {
        margin-left: 5%;
        width: 86%;
    }

    .nav-grid {
        margin-left: 5%;
        width: 86%;
    }

        .nav-grid .nav-grid-item {
            width: 80px;
            font-size:12px;
        }

            .nav-grid .nav-grid-item .fa {
                margin: 10px;
                font-size: 30px;
            }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 768px) {
    .title {
        margin-left: 150px;
        width: 500px;
    }

        .title:after {
            margin-left: 50px;
            width: 400px;
        }

        .title:before {
            left: -135px;
        }

    .copy {
        margin-left: 150px;
        width: 500px;
    }

    .nav-grid {
        margin-left: 150px;
        width: 500px;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1400px) {
}

@media only screen and (min-width: 1024px) {
    .title {
        margin-left: 400px;
        width: 500px;
    }

        .title:after {
            margin-left: 50px;
            width: 400px;
        }

        .title:before {
            left: -135px;
        }

    .copy {
        margin-left: 400px;
        width: 500px;
    }

    .nav-grid {
        margin-left: 400px;
        width: 500px;
    }
}

@media only screen and (min-width: 1400px) {
}
