#Footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0,0,20,0.8);
    padding-top:5px;
    left: 0;
    color:#FFF;
    z-index: 100;
}
#Footer a{
    color: #FFF;

}