<!--<div id="splash">
    <div id="splash-copy">
        <p> Bacon ipsum dolor amet frankfurter meatloaf porchetta, landjaeger ribeye pastrami swine ham hock cow. Ham ham hock
            chuck cow venison pork loin drumstick doner ribeye pancetta boudin picanha shank meatball. Drumstick pancetta
            short ribs, swine salami meatloaf rump cow. Fatback strip steak capicola brisket short ribs ribeye ball tip.
            Ball tip kevin drumstick, shank hamburger ground round venison meatloaf ribeye porchetta leberkas jerky cow.
            Turducken corned beef cow ham hock strip steak venison chuck capicola turkey pork belly shank. T-bone shankle
            tri-tip flank cupim cow biltong bacon beef ribs tail hamburger sirloin turkey pig. Kevin pastrami sirloin flank
            landjaeger, ribeye salami spare ribs pork loin. Doner sirloin tri-tip andouille porchetta cupim tail pork chop
            landjaeger filet mignon burgdoggen capicola.
        </p>
        <p> Shankle tenderloin ham hock pork, flank swine fatback chicken short ribs sausage boudin capicola. Jerky bacon tenderloin
            ham, sirloin doner drumstick pastrami spare ribs meatloaf ham hock swine. Pork loin jowl chuck bacon ribeye fatback.
        </p>

    </div>
</div>-->
<div id="header">
    <div id="gofundme" class=" shadow">
        <div id="group-photo" ></div>
        <div id="gofundme-info">
            <div id="gofundme-copy">
                <p>We are a class of eight fine arts students looking to raise money to fund our final project/show of our college
                    careers. Every aspect of the show will be arranged by us including invitations, promoting, set up, food
                    and beverage. In order to make this event possible and successful we need all the financial help we can
                    get. Thank you in advance for your support!</p>
            </div><div id="gofundme-button-container">
                <a id="gofundme-donate-button" href="https://www.gofundme.com/fall2017bfa/donate">Donate To Fall 2017 BFA   </a>
                <br />
                <div>
                    <div id="gofundme-powered-by">Powered by</div><br />
                    <img src="images/gofundme.png" /></div>
            </div>
        </div>
    </div>
    <div id="header-title" simple-affix on-affix="vm.affixed = true" on-unaffix="vm.affixed = false" ng-class="{'affix':vm.affixed}">
        <div class="letter letter1" ng-class="{'disconnect1':!vm.affixed}">D</div>
        <div class="letter letter2" ng-class="{'disconnect2':!vm.affixed}">I</div>
        <div class="letter letter3" ng-class="{'disconnect3':!vm.affixed}">S</div>
        <div class="letter letter4" ng-class="{'disconnect4':!vm.affixed}">C</div>
        <div class="letter letter5" ng-class="{'disconnect5':!vm.affixed}">O</div>
        <div class="letter letter6" ng-class="{'disconnect6':!vm.affixed}">N</div>
        <div class="letter letter7" ng-class="{'disconnect7':!vm.affixed}">N</div>
        <div class="letter letter8" ng-class="{'disconnect8':!vm.affixed}">E</div>
        <div class="letter letter9" ng-class="{'disconnect9':!vm.affixed}">C</div>
        <div class="letter letter10" ng-class="{'disconnect10':!vm.affixed}">T</div>
        <!--<div id="header-navigation">
            <a class="header-navigation-item">Event Info</a>
            <a class="header-navigation-item">Go Fund Me</a>
            <a class="header-navigation-item">Artists</a>
            <a class="header-navigation-item">Location</a>
            <a class="header-navigation-item">Contact Us</a>.
        </div>-->
    </div>

</div>

<div id="artists">
    <h1 style="font-family:'Lato Light'; font-size:46px; margin-top:140px; margin-bottom:140px;">Artists</h1>
    <div class="artist" ng-click="vm.clickStudent(1)">
        <div class="profile-picture">
            <!--<img src="images/dicosola_2.png" class="shadow" />-->
            <h1>Jordan DiCosola</h1>
        </div>
        <div class="profile-bg">
            <img src="images/dicosola.png" class="shadow" />
        </div>
    </div>
    <div class="artist" ng-click="vm.clickStudent(2)">
        <div class="profile-picture">
            <!--<img src="images/ashley1.png" class="shadow" />-->
            <h1>Ashley Lindo</h1>
        </div>
        <div class="profile-bg">
            <img src="images/ashley.png" class="shadow" />
        </div>
    </div>
    <div class="artist" ng-click="vm.clickStudent(3)">
        <div class="profile-picture">
            <!--<img src="images/maggie1.png" class="shadow" />-->
            <h1>Maggie Pinkien</h1>
        </div>
        <div class="profile-bg">
            <img src="images/maggie.png" class="shadow" />
        </div>
    </div>
    <div class="artist" ng-click="vm.clickStudent(4)">
        <div class="profile-picture">
            <!--<img src="images/florencia1.png" class="shadow" />-->
            <h1>Florencia Soto</h1>
        </div>
        <div class="profile-bg">
            <img src="images/florencia.png" class="shadow" />
        </div>
    </div>
    <div class="artist" ng-click="vm.clickStudent(5)">
        <div class="profile-picture">
            <!--<img src="images/caitlinnobile1.png" class="shadow" />-->
            <h1>Caitlin Nobil&#233;</h1>
        </div>
        <div class="profile-bg">
            <img src="images/caitlinnobile.png" class="shadow" />
        </div>
    </div>
</div>
<div id="location" class="section shadow">

    FAU RITTER GALLERY 777 Glades Rd, Boca Raton, FL 33431
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%20%20FAU%20RITTER%20GALLERY%20777%20Glades%20Rd%2C%20Boca%20Raton%2C%20FL%2033431&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>wordpress themes <a href="https://wpicus.com">wpicus</a></div>
        <style>
            .mapouter {
                overflow: hidden;
                height: 500px;
                width: 600px;
            }

            .gmap_canvas {
                background: none!important;
                height: 500px;
                width: 600px;
            }
        </style>
    </div>
    <p>The Ritter Gallery is located on the second floor of the Breezeway. For parking, turn left into the first entrance of
        campus, contain along West University Drive until you reach Volusia street, where you'll make a right. Parking Garage
        1 will be on your left (PK-81).</p>
</div>
<div id="contact us" class="section shadow">

</div>