<div style="padding:40px; text-align:center; width:80vw; margin:auto auto; min-height:2000px;">

    <div id="splash">

    </div>
    <div id="header">
        <div id="header-title">
            <div>D</div>
            <div>I</div>
            <div>S</div>
            <div>C</div>
            <div>O</div>
            <div>N</div>
            <div>N</div>
            <div>E</div>
            <div>C</div>
            <div>T</div>
        </div>
        <a class="header-navigation">Event Info</a>
        <a class="header-navigation">Go Fund Me</a>
        <a class="header-navigation">Artists</a>
        <a class="header-navigation">Location</a>
        <a class="header-navigation">Contact Us</a>
    </div>
    <div id="gofundme" class="section shadow">
    </div>
    <div id="artists">
        <a href="#!/students/2" class="shadow" style="position:relative;">
            <h1>Ashley Lindo</h1>
            <div class="fixed-bg" style="background-image:url('images/ashley.png');height:80vh;max-height:30vw; margin-bottom:40px;"></div>
        </a>
        <a href="#!/students/2" class="shadow" style="position:relative;">
            <h1>Ashley Lindo</h1>
            <div class="fixed-bg" style="background-image:url('images/beam.png');height:80vh;max-height:30vw; margin-bottom:40px;"></div>
        </a>
        <a href="#!/students/2" class="shadow" style="position:relative;">
            <h1>Ashley Lindo</h1>
            <div class="fixed-bg" style="background-image:url('images/lindo.png');height:80vh;max-height:30vw; margin-bottom:40px;"></div>
        </a>
    </div>
    <div id="location" class="section shadow">

    </div>
    <div id="contact us" class="section shadow">

    </div>

</div>
