# First, ignore everything
node_modules/**

# And all the file types you're interested in.
!node_modules/**/angular.min.js
!node_modules/**/angular-animate.min.js
!node_modules/**/angular-aria.min.js
!node_modules/**/angular-material.min.js
!node_modules/**/angular-touch.min.js
!node_modules/**/angular-material.min.css
!node_modules/**/font-awesome.min.css