# First, ignore everything
node_modules/angular/**
node_modules/angular-animate/**
node_modules/angular-aria/**
node_modules/angular-material/**
node_modules/angular-touch/**
node_modules/font-awesome/less/**
node_modules/font-awesome/sass/**
node_modules/font-awesome/scss/**

# And all the file types you're interested in.
!node_modules/**/angular.min.js
!node_modules/**/angular-animate.min.js
!node_modules/**/angular-aria.min.js
!node_modules/**/angular-material.min.js
!node_modules/**/angular-touch.min.js
!node_modules/**/angular-material.min.css

