<!DOCTYPE html>
<html>

<head>
    <title>GalleryAwesomeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <link href="node_modules/angular-material/angular-material.min.css" type="text/css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="directives/gallery-awesome/gallery-awesome.css" type="text/css" rel="stylesheet">
    <link href="site.css" type="text/css" rel="stylesheet">
</head>

<body ng-app="GalleryAwesomeApp">
    <ng-include src="'./pages/header.html'"></ng-include>
    <div class="mobile-only">
        <div id="ResumeButton" ng-click="vm.showResume = !vm.showResume">Resume</div>
        <div ng-if="vm.showResume == true">
            <ng-include src="'./pages/resume.html'"></ng-include>
        </div>
    </div>
    <div class="desktop-only">
        <ng-include src="'./pages/resume.html'"></ng-include>
    </div>
    <!--Randomize the thumbnails-->
    <div id="Content" ng-controller="GalleryAwesomeController as vm">
        <div class="desktop-only">
            <gallery-awesome images="vm.Images" columns="vm.Columns" radius="vm.Radius"></gallery-awesome>
        </div>
        <div class="mobile-only">
            <gallery-awesome images="vm.Images" columns="vm.MobileColumns" radius="vm.MobileRadius"></gallery-awesome>
        </div>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-touch/angular-touch.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>

    <script src="directives/gallery-awesome/gallery-awesome.js"></script>

    <script src="app.js"></script>
</body>

</html>