@font-face {
  font-style: 'regular';
  font-family: 'lato';
  src: url("./fonts/lato-regular.ttf"); }

@font-face {
  font-style: 'regular';
  font-family: 'lato light';
  src: url("./fonts/lato-light.ttf"); }

@font-face {
  font-style: 'regular';
  font-family: 'lato bold';
  src: url("./fonts/lato-bold.ttf"); }

body {
  background-color: #FFF;
  margin: 0;
  font-family: 'lato'; }

html {
  overflow-y: scroll !important;
  background-color: #FFF; }

#Header {
  color: #FFF !important;
  background-image: url(./assets/bg_long.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20vw;
  padding-left: 24vw; }

#Header h1 {
  margin: 0;
  margin-top: 2vw;
  width: 84vw;
  font-size: 5vw;
  display: inline-block;
  color: #FFF; }

#Header h2 {
  margin: 0;
  height: 4vw;
  font-size: 1vw;
  display: inline-block;
  color: #FFF;
  font-family: 'lato light'; }

#Header tr {
  font-size: 1vw;
  height: 2vw;
  vertical-align: bottom; }

#Header td:last-child {
  padding-left: 2vw; }

#Header td img {
  width: 2vw;
  margin-right: 1vw; }

#Profile {
  background-image: url(./assets/profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vw;
  width: 20vw;
  position: absolute;
  top: 2vw;
  left: 2vw; }

#Resume {
  width: 100%;
  position: absolute;
  top: 24vw;
  padding-top: 4px;
  left: 20vw;
  width: 20vw; }

#Resume h2 {
  margin: 0;
  display: inline-block;
  width: auto;
  border-bottom: 4px solid #f3ac1d; }

#Resume p {
  margin-bottom: 1vw; }

#Content {
  position: absolute;
  left: 36vw;
  top: 24vw;
  right: 0; }

#Options {
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  width: 15vw;
  min-width: 140px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; }
