$color-yellow:#f3ac1d;
$color-bg:#FFF;
$color-fg:#000;
$color-fg-faded: rgba(0, 0, 0, 0.5);
$color-fg-invisible: rgba(0, 0, 0, 0.5);
$fg-pic:url(./assets/bg_long.png);
$profile-pic:url(./assets/profile.png);
$block:40vw;

@font-face {
    font-style: 'regular';
    font-family: 'lato';
    src: url('./fonts/lato-regular.ttf')
}

@font-face {
    font-style: 'regular';
    font-family: 'lato light';
    src: url('./fonts/lato-light.ttf')
}

@font-face {
    font-style: 'regular';
    font-family: 'lato bold';
    src: url('./fonts/lato-bold.ttf')
}

body {
    background-color: $color-bg;
    margin: 0;
    font-family: 'lato'
}

html {
    overflow-y: scroll !important;
    background-color: $color-bg;
}

#Header {
    color: $color-bg!important;
    background-image: $fg-pic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $block/2;
    padding-left: ($block/2 + $block/10);
}

#Header h1 {
    margin: 0;
    margin-top: ($block/20);
    width: (100vw - $block/2 + $block/10);
    font-size: $block/8;
    display: inline-block;
    color: $color-bg;
}

#Header h2 {
    margin: 0;
    height: $block/10;
    font-size: $block/40;
    display: inline-block;
    color: $color-bg;
    font-family: 'lato light';
}

#Header tr {
    font-size: $block/40;
    height: $block/20;
    vertical-align: bottom;
}

#Header td:last-child {
    padding-left: $block/20;
}

#Header td img {
    width: $block/20;
    margin-right:$block/40;
}

#Profile {
    background-image: $profile-pic;
    background-repeat: no-repeat;
    background-size: contain;
    height: $block/2;
    width: $block/2;
    position: absolute;
    top: $block/20;
    left: $block/20;
}

#Resume {
    width: 100%;
    position: absolute;
    top: $block/2 + $block/10;
    padding-top: 4px;
    left: $block/2;
    width: $block/2;
}

#Resume h2 {
    margin: 0;
    display: inline-block;
    width: auto;
    border-bottom: 4px solid $color-yellow;
}

#Resume p
{

margin-bottom:$block/40;;
}

#Content {
    position: absolute;
    left: $block*9/10;
    top: $block/2 + $block/10;
    right: 0;
}

#Options {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 15vw;
    min-width: 140px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

