$color-yellow:#f3ac1d;
$color-bg:#FFF;
$color-fg:#000;
$color-fg-faded: rgba(0, 0, 0, 0.5);
$color-fg-invisible: rgba(0, 0, 0, 0.5);
$fg-pic:url(./assets/bg_long.png);
$profile-pic:url(./assets/profile.png);
$block:40vw;
$font-size-title:90px;
$font-size-subtitle:36px;
$font-size-body:18px;
$line-height-title:$block/6;
$line-height-subtitle:$block/10;
$line-height-body:$block/30;
@font-face {
    font-style: 'regular';
    font-family: 'lato';
    src: url('./fonts/lato-Regular.ttf')
}

@font-face {
    font-style: 'regular';
    font-family: 'lato light';
    src: url('./fonts/Lato-Light.ttf')
}

@font-face {
    font-style: 'regular';
    font-family: 'lato bold';
    src: url('./fonts/Lato-Bold.ttf')
}

body {
    background-color: $color-bg;
    margin: 0;
    font-family: 'lato'
}

html {
    overflow-y: scroll !important;
    background-color: $color-bg;
}

#Header {
    color: $color-bg!important;
    background-image: $fg-pic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $block/2;
    font-size: $font-size-body;
    line-height: $line-height-body;
    padding-left: ($block/2 + $block/10);
}

#Header h1 {
    margin: 0;
    margin-top: ($block/20);
    font-size: $font-size-title;
    line-height: $line-height-title;
    color: $color-bg;
}

#Header h2 {
    margin: 0;
    height: $block/10;
    font-size: $font-size-body;
    line-height: $line-height-subtitle;
    color: $color-bg;
    font-family: 'lato light';
}

#Header tr {
    font-size: $font-size-body;
    line-height: $line-height-body;
    height: $block/20;
    vertical-align: bottom;
}

#Header td:last-child {
    padding-left: $block/20;
}

#Header td img {
    width: $block/20;
    margin-right: $block/40;
}

#Address {
    text-align: justify;
    position: absolute;
    font-size: $font-size-body;
    width: $block/2 - $block/10;
    line-height: $line-height-body;
    top: $block/2 + $block/15 + $line-height-subtitle;
    left: $block/20;
}

#Address img {
    height: $line-height-body;
}

#Profile {
    background-image: $profile-pic;
    background-repeat: no-repeat;
    background-size: contain;
    height: $block/2;
    width: $block/2;
    position: absolute;
    top: $block/20;
    left: $block/20;
}

#Resume {
    text-align: justify;
    font-size: $font-size-body;
    line-height: $line-height-body;
    position: absolute;
    top: $block/2 + $block/15;
    left: $block/2;
    width: $block/2+$block/10;
}

#Resume h2 {
    font-size: $font-size-subtitle;
    line-height: $line-height-subtitle;
    margin: 0;
    display: inline-block;
    width: auto;
    border-bottom: 4px solid $color-yellow;
}

#Resume p {
    margin-bottom: $block/40;
}

#Content {
    position: absolute;
    left: $block+$block/20;
    top: $block/2 + $block/15;
    right: 0;
}

#Options {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 15vw;
    min-width: 140px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 1200px) {
    #Header {
        height: $block/2;
        font-size: $font-size-body;
        line-height: $line-height-body;
        padding-left: ($block/2 + $block/10);
    }
    #Header h1 {
        margin-top: ($block/20);
        font-size: $font-size-title;
        line-height: $line-height-title;
    }
    #Header h2 {
        height: $block/10;
        font-size: $font-size-body;
        line-height: $line-height-subtitle;
    }
    #Header tr {
        font-size: $font-size-body;
        line-height: $line-height-body;
        height: $block/20;
    }
    #Resume {
        font-size: $font-size-body;
        line-height: $line-height-body;
        top: $block/2 + $block/15;
        left: $block/2;
        width: $block/2+$block/10;
    }
    #Content {
        left: $block+$block/20;
        top: $block/2 + $block/15;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #Header {
        height: $block/2;
        font-size: $font-size-body;
        line-height: $line-height-body;
        padding-left: ($block/2 + $block/10);
    }
    #Header h1 {
        margin-top: ($block/20);
        font-size: $font-size-subtitle;
        line-height: $line-height-subtitle;
    }
    #Header h2 {
        height: $block/10;
        font-size: $font-size-body;
        line-height: $line-height-body;
    }
    #Header tr {
        font-size: $font-size-body;
        line-height: $line-height-body;
        height: $block/20;
    }
    #Resume {
        font-size: $font-size-body;
        line-height: $line-height-body;
        top: $block/2 + $block/15;
        left: $block/2;
        width: $block/2+$block/10;
    }
    #Content {
        left: $block+$block/20;
        top: $block/2 + $block/15;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #Header {
        height: $block/2;
        font-size: $font-size-body;
        line-height: $line-height-body;
        padding-left: ($block/2 + $block/10);
    }
    #Header h1 {
        margin-top: ($block/20);
        font-size: $font-size-subtitle;
        line-height: $line-height-subtitle;
    }
    #Header h2 {
        height: $block/10;
        font-size: $font-size-body;
        line-height: $line-height-body;
    }
    #Header tr {
        font-size: $font-size-body;
        line-height: $line-height-body;
        height: $block/20;
    }
    #Resume {
        font-size: $font-size-body;
        line-height: $line-height-body;
        top: $block/2 + $block/15;
        left: $block/2;
        width: $block/2+$block/10;
    }
    #Content {
        left: $block+$block/20;
        top: $block/2 + $block/15;
    }
}

@media (max-width: 767px) {
    #Header {
        height: $block*3/5;
        font-size: $font-size-body;
        line-height: $line-height-body*7/5;
        padding-left: ($block/2 + $block/10);
    }
    #Header h1 {
        margin-top: ($block/20);
        font-size: $font-size-subtitle;
        line-height: $line-height-title;
    }
    #Header h2 {
        height: $block/10;
        font-size: $font-size-body;
        line-height: $line-height-body*7/5;
    }
    #Header tr {
        font-size: $font-size-body;
        line-height: $line-height-body*7/5;
        height: $block/20;
    }
    #Resume {
        font-size: $font-size-body;
        line-height: $line-height-body*7/5;
        top: $block*3/5 + $block/15;
        left: $block/2;
        width: $block/2+$block/10;
    }
    #Content {
        left: $block+$block/20;
        top: $block*3/5 + $block/15;
    }
}

@media (max-width: 480px) {}