<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5">
<html lang="en" data-framework="angularjs" >

<head>
    <meta charset="utf-8">
    <title>DevEarley</title>

    <link href="./css/bootstrap2.css" type="text/css" rel="stylesheet">
    <link href="./css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="./css/parallax.css" type="text/css" rel="stylesheet">
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link href="./css/alt1.css" type="text/css" rel="stylesheet">
    <link href="./css/unsubscribe.css" type="text/css" rel="stylesheet">
    <link href="./css/landing.css" type="text/css" rel="stylesheet">
    <link href="./css/footer.css" type="text/css" rel="stylesheet">
    <link href="./css/form.css" type="text/css" rel="stylesheet">
    <link href="./css/thanks.css" type="text/css" rel="stylesheet">
    <link href="./css/toastr.min.css" type="text/css" rel="stylesheet">
    <link href="./css/angular-material.min.css" type="text/css" rel="stylesheet">
    <link href="./favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple_logo.png">
    <link rel="icon" type="image/png" href="/144_logo.png" sizes="32x32">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileImage" content="/small_logo.png">
    <meta name="msapplication-TileColor" content="#FFF">

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>

    <base href="/">

</head>

<body ng-app="DEVE" class="dark-text">
    <div id="DEVEContent" ng-controller="AppController as vm" class="{{vm.Theme}}">
        <!-- Page Content -->
        <div class="themes">
            <img class="animate" src="images/personalsite_aura_icon.png" ng-click="vm.Change('aura')" />
            <img class="animate" src="images/personalsite_fish_icon.png" ng-click="vm.Change('fish')" />
            <img class="animate" src="images/personalsite_ocean_icon.png" ng-click="vm.Change('ocean')" />
            <img class="animate" src="images/personalsite_stairs_icon.png" ng-click="vm.Change('stairs')" />
        </div>
        <div perfect-parallax parallax-ratio="0.1">
           
            <div perfect-parallax parallax-ratio="0.5" class="img-bg">    </div>

                <div perfect-parallax parallax-ratio="0.5" class="img" ng-class="{'pop-animation':vm.Popping,'unpop-animation':vm.Popping==false}">

                </div>
            </div>
            <ng-view style="display:inline-block;width:100vw!important;height:100vh!important" autoscroll="true" />


            <!--<div style="min-height:95vh;">
                <div ng-include="'./app/templates/header.html'"></div>

            </div>-->
        </div>


    <!-- Dependencies -->

    <script type="text/javascript" src="//wurfl.io/wurfl.js"></script>
    <script src="./libs/jquery-1.11.3.min.js"></script>
    <script src="./libs/md5.js"></script>
    <script src="./libs/toastr.min.js"></script>
    <script src="./libs/angular.min.js"></script>
    <script src="./libs/angular-animate.min.js"></script>
    <script src="./libs/angular-aria.min.js"></script>
    <script src="./libs/angular-material.min.js"></script>
    <script src="./libs/angular-route.js"></script>
    <script src="./libs/angular-parallax.js"></script>

    <!-- App -->
    <script src="./app/app.js"></script>

    <!-- Directives -->
    <script src="./app/directives/simpleAffix.js"></script>
    <script src="./app/directives/mobileOnly.js"></script>

    <!-- Services -->
    <script src="./app/services/ValidationService.js"></script>
    <script src="./app/services/StatesService.js"></script>

    <!-- Controllers -->
    <script src="./app/controllers/appController.js"></script>

</body>
</html>
