@import 'styles/fonts';
@import 'styles/colours';
@import 'styles/base';
html {
	font-family: 'Open Sans';
	overflow: hidden;  
  
}

.text
{  
  align-content: center;
  text-align: center;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}
canvas {
    -webkit-overflow-scrolling: touch;
    margin: 50vh;
    margin-left: 50vw;
    width: 4096px;
    height: 4096px;
    background-color: #222;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    /*image-rendering: -moz-crisp-edges;
image-rendering: -webkit-crisp-edges;
image-rendering: pixelated;
image-rendering: crisp-edges*/
}

html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

body {
    background-color: #111;
    font-family: 'Source Sans Pro', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #33aa33;
}

hr {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid #33aa33;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 1.602em;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.125em;
}

small, .font_small {
    font-size: 0.889em;
}

#footer {
    text-align: center;
    position: fixed;
    top: 5px;
    padding-top: 6px;
    height: auto;
    width: 40%;
    background-color: rgba(0,0,0,0.5);
    color: #33aa33;
    left: 30%;
    z-index: 1000;
}

    #footer a {
        color: #FFF;
    }

// #tool-bars {
//     max-height: 100vh;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     position: fixed;
//     top: 0;
//     bottom: 17px;
//     right: 15px;
//     left: 15px;
//     width: 100vw;
//     min-width: 1500px;
//     pointer-events: none;
// }


// .toolbar {
//     display: inline-block;
//     -webkit-transition: all 0.25s ease-out;
//     -moz-transition: all 0.25s ease-out;
//     -o-transition: all 0.25s ease-out;
//     transition: all 0.25s ease-out;
//     overflow: hidden;
//     left: 70px;
//     width: 300px;
//     background-color: #000;
//     height: 34px;
// }

// .toolbar-right {
//     display: inline-block;
//     -webkit-transition: all 0.25s ease-out;
//     -moz-transition: all 0.25s ease-out;
//     -o-transition: all 0.25s ease-out;
//     transition: all 0.25s ease-out;
//     overflow: hidden;
//     right: 70px;
//     left: auto;
//     width: 300px;
//     background-color: #000;
//     height: 34px;
// }

// #tool-bars h1, #tool-bars h2 {
//     text-align: center;
//     cursor: default;
// }

// #tool-bars h1 {
//     height: 34px;
// }

//     #tool-bars h1:hover {
//         cursor: pointer;
//         background-color: #33aa33;
//         color: #000;
//     }

//     #tool-bars h1:active {
//         color: #FFF;
//     }

// input {
//     background-color: #000;
//     border: none;
//     border-bottom: 1px solid #33aa33;
//     color: #33aa33;
// }

// #tool-bars input {
//     text-align: left;
//     margin-top: 4px;
//     float: left;
//     background-color: #000;
//     border: none;
//     border-bottom: 1px solid #33aa33;
//     color: #33aa33;
// }

//     #tool-bars input:focus {
//         color: #FFF;
//         border-bottom: 1px solid #FFF;
//         outline-color: transparent;
//     }

// #tool-bars .button {
//     cursor: pointer;
//     padding-top: 4px;
//     padding-bottom: 4px;
//     /*width: 291px;*/
//     color: #33aa33;
//     background-color: #000;
// }

// #tool-bars #tool-bars-a .button {
//     text-align: right;
//     padding-right: 5px;
//     border-right: 4px rgba(0,0,0,0) solid;
// }



// #tool-bars .button .number-input {
//     width: 45px;
//     padding-left: 10px;
//     display: inline-block;
//     float: right;
//     margin-left: 5px;
// }

// #tool-bars #tool-bars-a .button:hover {
//     border-right: 4px #33aa33 solid;
// }

// #tool-bars #tool-bars-a .button:active {
//     border-right: 4px #FFF solid;
//     color: #FFF;
// }



// #tool-bars #tool-bars-d .button:hover, #tool-bars #tool-bars-c .button:hover, #tool-bars #tool-bars-b .button:hover {
//     border-left: 4px #33aa33 solid;
// }

// #tool-bars #tool-bars-d .button:active, #tool-bars #tool-bars-c .button:active, #tool-bars #tool-bars-b .button:active {
//     border-left: 4px #FFF solid;
//     color: #FFF;
// }

// #tool-bars #tool-bars-d .button, #tool-bars #tool-bars-b .button, #tool-bars #tool-bars-c .button {
//     text-align: left;
//     padding-left: 5px;
//     border-left: 4px rgba(0,0,0,0) solid;
// }

//     #tool-bars #tool-bars-d .button.selected, #tool-bars #tool-bars-b .button.selected, #tool-bars #tool-bars-c .button.selected {
//         color: #FFF;
//         border-left: 4px #FFF solid;
//     }

// #tool-bars #tool-bars-a .button.selected {
//     color: #FFF;
//     border-right: 4px #FFF solid;
// }

// .toolbar-button, .toolbar-button-right {
//     cursor: pointer;
//     text-align: center;
//     padding-top: 5px;
//     overflow: hidden;
//     width: 50px;
//     color: #33aa33;
//     display: inline-block;
//     background-color: #000;
//     left: 310px;
//     height: 29px;
//     position: absolute;
//     z-index: 1000;
// }

// .toolbar-button-right {
//     right: 440px;
//     left: auto;
// }

//     .toolbar-button:hover, .toolbar-button-right:hover {
//         background-color: #33aa33;
//         color: #000;
//     }

//     .toolbar-button:active, .toolbar-button-right:active {
//         color: #FFF;
//     }

// .preview {
//     margin-left: 10px;
//     margin-top: 4px;
//     background-color: #000;
// }

// #palette-button-container {
//     -webkit-transition: all 0.25s ease-out;
//     -moz-transition: all 0.25s ease-out;
//     -o-transition: all 0.25s ease-out;
//     transition: all 0.25s ease-out;
//     width: 240px;
//     height: 68px;
//     background-color: rgba(0,0,0,0.2);
//     overflow: hidden;
//     position: fixed;
//     top: 0px;
//     left: 10px;
//     z-index: 1002;
// }

//     #palette-button-container:hover {
//         width: auto;
//         height: auto;
//         overflow: visible;
//     }

// .layer-row {
//     padding: 10px;
// }


// #layers-preview {
//     height: 250px;
//     overflow-y: auto;
// }

// #triggers-preview, #actions-preview, #conditions-preview, #params-preview, #events-preview {
//     height: 250px;
//     width: 290px;
//     overflow-y: auto;
//     overflow-x: hidden;
//     padding-right: 10px;
// }

// #last-tile-preview {
//     width: 16px;
//     height: 16px;
// }


// #popup-container {
//     position: fixed;
//     left: 10vw;
//     right: 10vw;
//     top: 10vh;
//     bottom: auto;
//     z-index: 101;
//     display: none;
//     background-color: #33aa33;
//     padding: 5px;
//     overflow-y: visible;
//     overflow-x: visible;
// }

// #close-x {
//     background-color: #000;
//     height: 24px;
//     width: auto;
//     position: fixed;
//     top: 9.5vh;
//     right: 9.5vw;
//     cursor: pointer;
//     color: #33aa33;
//     padding-left: 6px;
//     padding-right: 6px;
//     line-height: 20px;
//     text-align: center;
//     border-left: 4px solid #33aa33;
// }

//     #close-x:hover {
//         cursor: pointer;
//         color: #FFF;
//         border-left: 4px solid #FFF;
//     }

// #game-state-popup, #player-state-popup {
//     display: none;
//     background-color: #000;
//     padding-left:5vw;
//     padding-right:5vw;
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// #popup-overlay {
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     background-color: rgba(50,50,50,0.8);
//     z-index: 100;
//     display: none;
// }



// .node-button
// {  
//     border-left: 4px solid #33aa33;
//     padding:5px;
//     padding-left:10px;
//     padding-right:10px;
//     text-align:center;
//    cursor:pointer;  width:auto;
// }
// .node-button:hover{
//     background-color:#fff;
  
// }

// .ps-name{
//     width:100%;
//     height:50px;
// }

// @media only screen and (max-width: 1650px) {
//     .toolbar-button-right {
//         right: auto;
//         left: 310px;
//     }

//     #tool-bars {
//         min-width: 0;
//         left: auto;
//         right: -15px;
//         width: 400px;
//     }

//     #tool-bars-a {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: none;
//         bottom: 0;
//         left: 0;
//         /*bottom: auto;
//     left: auto;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-b {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: none;
//         bottom: 0;
//         left: 0;
//         /*bottom: auto;
//     left: auto;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-b {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: none;
//         bottom: 0;
//         left: 0;
//         /*bottom: auto;
//     left: auto;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-c {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: none;
//         bottom: 0;
//         left: 0;
//         /*bottom: auto;
//     left: auto;
//     right: auto;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-d {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: none;
//         bottom: 0;
//         left: 0;
//         /*bottom: auto;
//     left: auto;
//     right: auto;*/
//         z-index: 1000;
//         pointer-events: all;
//     }
// }

// @media only screen and (min-width: 1650px) {
//     .toolbar-button-right {
//         right: 440px;
//         left: auto;
//     }

//     #tool-bars {
//         left: 15px;
//         min-width: 1500px;
//         width: 100vw;
//     }

//     #tool-bars-a {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: left;
//         bottom: 0;
//         /*bottom: 30px;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-b {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: left;
//         bottom: 0;
//         /*bottom: 30px;
//     left: 430px;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-b {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: left;
//         bottom: 0;
//         /*bottom: 30px;
//     left: 430px;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-c {
//         width: 430px;
//         position: relative;
//         display: block;
//         float: right;
//         bottom: 0;
//         /*bottom: 30px;
//     right: 400px;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//     #tool-bars-d {
//         width: 330px;
//         position: relative;
//         display: block;
//         float: right;
//         bottom: 0;
//         /*bottom: 30px;
//     right: 30px;*/
//         z-index: 1000;
//         pointer-events: all;
//     }

//         #tool-bars-d .toolbar-button-right {
//             right: 340px;
//             left: auto;
//         }
// }
