<div id="artist-page">
   
    <div id="artist-info" class="shadow" style="">
        <h1 style="text-align:left;" ng-bind-html="vm.student.name"></h1>
       <p >
            <img style="" ng-src="{{vm.student.profile.url}}" />
        </p>
       
     

    </div>
    <div id="artist-gallery">
       
        <p class="shadow" style="text-align:justify; max-width:500px;margin:auto auto;" ng-bind-html="vm.student.desc"></p>
        <div ng-repeat="image in vm.images" style="position: relative; margin-bottom: 200px;">
            <img class="bg shadow" ng-src="{{image.url}}" ng-click="vm.currentImage != image?vm.currentImage = image:vm.currentImage= null"
                ng-class="{'active':vm.currentImage == image}" />
            <div class="shadow image-tag" ng-bind-html="image.desc"></div>
        </div>
    </div>
   
</div>
<div id="header-title" simple-affix on-affix="vm.affixed = true" on-unaffix="vm.affixed = false" class="affix">
    <div class="letter letter1" >D</div>
    <div class="letter letter2" >I</div>
    <div class="letter letter3" >S</div>
    <div class="letter letter4" >C</div>
    <div class="letter letter5" >O</div>
    <div class="letter letter6" >N</div>
    <div class="letter letter7" >N</div>
    <div class="letter letter8" >E</div>
    <div class="letter letter9" >C</div>
    <div class="letter letter10">T</div>
    <!--<div id="header-navigation">
            <a class="header-navigation-item">Event Info</a>
            <a class="header-navigation-item">Go Fund Me</a>
            <a class="header-navigation-item">Artists</a>
            <a class="header-navigation-item">Location</a>
            <a class="header-navigation-item">Contact Us</a>.
        </div>-->
</div>
<div ng-click="vm.clickHome()" class="shadow" style="position:fixed; cursor:pointer; top:20px;right:10px;background:rgba(255,255,255,0.5);padding:20px;z-index: 2;">
    <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i> BACK
</div>