<!DOCTYPE html>

<html>
<head>
    <title>GalleryAwesomeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="../../css/angular-material.min.css" type="text/css" rel="stylesheet">
    <link href="site.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="GalleryAwesomeApp">

    <div id="Header">
        <h1>Gallery-Awesome</h1>
        <h2>Image Gallery Built on the AngularJS Material Framework.</h2>
      
    </div>
    <div id="Content" ng-controller="GalleryAwesomeController as vm">
        <div id="Options">
            <div>
                <label>Column Size</label>
                <md-slider flex md-invert  ng-model="vm.Columns" step="1" min="1" max="10" aria-label="columns">
                </md-slider>
            </div>                
            <div>
                <label>Radius</label>
                <md-slider flex ng-model="vm.Radius" step="0.5" min="1" max="10" aria-label="radius">
                </md-slider>
            </div>
        </div>
        <gallery-awesome images="vm.Images" columns="vm.Columns" radius="vm.Radius"></gallery-awesome>
    </div>

    <script src="../../libs/angular.min.js"></script>
    <script src="../../libs/angular-animate.min.js"></script>
    <script src="../../libs/angular-aria.min.js"></script>
    <script src="../../libs/angular-touch.min.js"></script>
    <script src="../../libs/angular-material.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
