body{
    background-color:#5b5b5b;
    
    /*margin:0;
    overflow-x:hidden;*/
}
html{
    overflow-y:scroll!important;
     background-color:#5b5b5b;
}

#Header
{
    padding:10px;
    background-color:#777;
}

#Content{
    position:absolute;
    /*width:100vw;*/   
}

.gallery-awesome-container
{
    padding-left:10vw;
  
    width:80vw;
    text-align:center;
}

.animate{
     -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.gallery-awesome-full
{
    width:100%;
    height:90vh;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
}
.gallery-awesome-thumb 
{
    max-height:200px;
    max-width:200px;
       min-height:120px;
    min-width:120px;
     transition: clip-path 250ms linear;
     -webkit-transition:-webkit-clip-path 250ms linear;
     clip-path: circle(5vw at 50% 50%);
     -webkit-clip-path: circle(5vw at  50% 50%);
   
    opacity:1;
    cursor:pointer;
    margin:1vw;
  

}
.gallery-awesome-thumb:focus
{

}
.gallery-awesome-thumb:hover,.gallery-awesome-thumb:active
{
     opacity:0.7;  
     clip-path: circle(100% at 50% 50%)!important;
     -webkit-clip-path: circle(100% at  50% 50%)!important;
 
}


.gallery-awesome-thumb:active
{
    opacity:0.9;
    /*margin:1vw;     
    padding:1vw;*/
}

md-dialog{
    background-color:#000;
    min-width:60vw;
    max-height:100vh;
}

#Options{
    background-color:#FFF;
    border-radius:10px;
    padding:10px;margin:5px;
    width:15vw; 
        min-width:140px;
    position:fixed;
    top:0;
    right:0;
    z-index:1;
}

.close-dialog{
    position:absolute;
    right:20px;
    top:5px;
    border-radius:5px;
    font-size:60px;
    color:#DDD;
    cursor:pointer;
    padding-left:20px;
    padding-right:20px;
    background-color:rgba(0,0,0,0.4);
}

.close-dialog:hover,.close-dialog:active{
    color:#FFF;
    background-color:rgba(0,0,0,0.9);
}