$white:             #FFFFFF;
$grey-light:        #F6F6F6;
$grey:              #EDEDEE;
$blue-bright:       #84D2FF;
$blue-nav:          #0179BF;
$blue-dark:         #105E8E;
$blue-royal:        #072B61;
$green:             #33aa33;
$green-bright:      #43ba43;
$grass-bright:      #91EAB0;
$grass-wet:         #43CA73;
$grass-blue:        #24A96C;
$red:               #D2232A;
$steel-icy:         #DFEAF2;
$steel-bleached:    #D2DCE3;
$steel-light:       #C4CDD4;
$steel:             #6C7B86;
$steel-dark:        #525E66;
$steel-deep:        #3F525E;
$steel-royal:       #2A3E4B;
$ash:               #5b5b5b;