<div>
    <div class="title"></div>
    <div class="content">

        <div class="copy blog-copy ">
            <h1>Typescript with AngularJS and Node in VS Code.</h1>
            <h2> By Alex Earley, Sunday November 19th, 2017 </h2>
            <div>
                It took me the better part of yesterday to build this small little 'Hello World' app. I am glad that I did. AngularJS
                is my bread and butter at work, and my boss has shown interest in typescript. I wanted to introduce TypeScript
                to my stack, but not do it in the middle of a sprint at work. So I updated VS Code and installed TypeScript
                via NPM. I Google'd a handful of errors and questions, and soon enough I had a 'Hello World' alert popping
                up on ng-click.
            </div>
            <h2>Why TypeScript? </h2>
            <div>
                TypeScript is a superset of javascript. It compiles down to javascript. It introduces type saftey, interfaces,
                easier to read syntax, and real time error detection.
            </div>
            <h2>Tools you will need.</h2>
            <div>
                <ul>
                    <li>Git Bash</li>
                    <li>VS Code</li>
                    <li>Node</li>

                </ul>
            </div>
            <h2>Setup your project</h2>
            <div>
                <ul>
                    <li>Create your root project folder and navigate to it with VS Code.</li>
                    <li>Create /app/ </li>
                    <li>Create /app/app.ts </li>
                    <li>Create /index.html </li>
                    <li>Create /tsconfig.json </li>
                    <li>Press CTRL + '~' To Open up the Terminal. Choose bash.exe from the dropdown.</li>
                </ul>
            </div>
            <h2>Install Node dependencies</h2>
            <div>
                In the Terminal Window type the following commands.
                <ul>
                    <li>$npm install -g typescript;</li>
                    <li>$npm install -g yarn; </li>
                    <li>$npm install -g uglifyes;</li>
                </ul>
                To insure the tools installed correctly, run the following.
                <ul>
                    <li>npm ls -g --depth 0;</li>
                </ul>

            </div>
            <h2>Add JS dependencies with yarn.</h2>
            <div>
                The following commands will add library dependencies to node_modules folder.
                <ul>
                    <li>$yarn add angular;</li>
                    <li>$yarn add angular-route;</li>
                    <li>$yarn add jquery;</li>
                </ul>
            </div>
            <h2>Create a bundling script file</h2>
            <div> This is optional, you may run these commands however you'd like. I prefer to dump them into a bundle.sh file
                and run that.
                <ul>
                    <li>Create bundle.sh in root directory, paste the following.</li>
                    <li>
                        <pre>
uglifyjs \
./node_modules/angular/angular.min.js \
./node_modules/angular-route/angular-route.min.js \
./app/app.js \ -o
./main.min.js \ --source-map url=main.min.js.map;
</pre>
                    </li>
                </ul>
            </div>
            <h2>What do we have so far?</h2>
            <div>We have a bunch of empty files and a bundle.sh that does something. But no 'Hello World' yet. Now that we are
                almost done with set up, time to learn some fundamental things about TypeScript.
            </div>
            <h2 style="cursor:pointer" ng-click="vm.gotoBlog('angularjs-typescript-2')"> Part 2 <i class="fa fa-arrow-right"></i></h2>
        </div>
        <div class="copy"  ng-click="vm.gotoBlogs()" style="cursor: pointer;margin-bottom: 100px;">
            <h1><i class="fa fa-arrow-left"></i> Back to Blogs</h1>
        </div>
    </div>
</div>