<div>
    <div class="title"></div>
    <div class="content">
        <div class="copy blog-copy ">
            <h1>Typescript with AngularJS and Node in VS Code.</h1>
            <h2> By Alex Earley, Sunday November 19th, 2017 </h2>
            <h2 style="cursor:pointer" ng-click="vm.gotoBlog('angularjs-typescript-1')"><i class="fa fa-arrow-left"></i> Part 1 </h2>
        </div>
        <div class="copy" ng-click="vm.gotoBlogs()" style="cursor: pointer;margin-bottom: 100px;">
            <h1><i class="fa fa-arrow-left"></i> Back to Blogs</h1>
        </div>
    </div>
</div>