<div>
    <div class="title"></div>
    <div class="content">
        <div class="copy blog-copy ">
            <div class="count">Part 3</div>
            <h1>Creating multiple themes with SCSS.</h1>
            <b> By Alex Earley, Created Sunday December 2nd, 2017.  </b>
            <div></div>
        </div>
        <div class="copy blog-copy ">
            <h2>Whats SCSS?</h2>
            <div> Sassy CSS or SCSS is a pre-processor for CSS. We are going to use it to create a site that supports multiple themes. I think themes are a great addition to an website users will come back to everyday. Some websites you may only need to use once in a blue moon, you may not care as much how it looks. But for things like GMail and Twitter, themes make all of my apps match. I really enjoy a good dark theme. So any time a download a new app, the first thing I do is dig around in the settings, looking for a way to make it dark.
            </div>
        </div>
        <div class="copy blog-copy ">
            <h2>What is AngularJS doing?</h2>
            <div style="margin-top:20px;">
                <h2 style="cursor:pointer; float:right;"
                    ng-click="vm.gotoBlog('angularjs-typescript-3')">
                    AngularJS + Typescript Part 3 <i class="fa fa-arrow-right"></i>
                </h2>
            </div>
        </div>
        <div class="copy"
             style="margin-bottom: 100px;">
            <h2 style="cursor:pointer;"
                ng-click="vm.gotoBlog( 'angularjs-typescript-1') "><i class="fa fa-arrow-left"></i> AngularJS + Typescript Part 1 </h2>
            <h2 style="cursor:pointer;"
                ng-click="vm.gotoBlogs()"><i class="fa fa-arrow-left"></i> Back to Blogs</h2>
        </div>
    </div>
</div>

<script async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Homepage Leaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1234567890123456"
     data-ad-slot="1234567890"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});

</script>