body {
  font-family: Lato;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-size: cover;
  background: url("images/paper.png"); }

h1 {
  font-family: Lato;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  margin-bottom: 0;
  margin-top: 0; }

p {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  margin-top: 0;
  margin-bottom: 0; }

a {
  color: #000;
  text-decoration: none; }

.bg {
  z-index: initial;
  transition: height 100ms ease-in, margin-bottom 100ms ease-in;
  height: 80vh;
  width: auto;
  max-height: 40vw;
  margin-bottom: 20vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 1; }

.section {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px; }

.shadow {
  -webkit-box-shadow: 0px 25px 53px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 53px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 25px 53px -27px rgba(0, 0, 0, 0.75); }
