<div ng-if="vm.IsGallery == false" style="background-image:url('{{vm.Image}}')" class="gallery-awesome-full" ></div>
<div ng-if="vm.IsGallery == true" ng-repeat="img in vm.Gallery track by $index" ng-show="vm.CurrentIndex == img.index" style="background-image:url('{{img.full}}')" class="gallery-awesome-full" ></div>
<div class="close-dialog" ng-click="vm.Close()"><i class="fa fa-times"></i></div>
<div ng-show="vm.ShowPrev"  class="prev-chevron" ng-click="vm.Prev()"><i class="fa fa-chevron-left"></i></div>
<div ng-show="vm.ShowNext == true" class="next-chevron" ng-click="vm.Next()"><i class="fa fa-chevron-right"></i></div>
<span class="gallery-awesome-caption">
    {{vm.Caption}}
    <br />
    <i class="fa fa-circle" ng-repeat="img in vm.Gallery track by $index" style="opacity:{{vm.CurrentIndex == img.index?'0.9':'0.2'}}; margin-right:10px" ></i>
</span>