<!DOCTYPE html>
<html>
<head>
    <link href="./site.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <title></title>
	<meta charset="utf-8" />
</head>
<body ng-app="MightyFileEditApp" >
        <div class="container-fluid">
            <div class="row">
                <div id="Content"  ng-controller="MFEController as vm" class="col-xs-12 col-sm-10 col-md-6  col-lg-5  offset-xs-0  offset-sm-1 offset-md-0 offset-lg-1">
                    <div class="row"  style="padding-top:40px;">
                        <div class="col text-center">
                            <h1>Mighty-File-Edit</h1>
                            <p>
                                Using FileSystemAPI and AngularJS to create a MIGHTY File Editor.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="box">
                                <h1>Data</h1>
                                <textarea ng-model="vm.Data"></textarea>
                                <br />{{vm.Message}}
                            </div>


                            <mighty-file-edit data="vm.Data"
                                              button-template="vm.ButtonTemplate"
                                              message="vm.Message"></mighty-file-edit>
                            
                        </div>
                    </div>
                </div>
      
                <div id="Content" class="col-xs-12 col-sm-10 col-md-6  col-lg-5 offset-xs-0  offset-sm-1 offset-md-0 offset-lg-0"  ng-controller="MAFEController as vm">
                    <div class="row"  style="padding-top:40px;">
                        <div class="col text-center">
                            <h1>Mighty-<span style="color:#CC2222;">Awesome</span>-File-Edit</h1>
                            <p>
                                Using FileSystemAPI and AngularJS to create a MIGHTY File Editor.
                            </p>
                            <p style="color:#CC2222;">
                                <i class="fa fa-flag"></i>
                                NOW WITH FONT AWESOME
                            </p>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col text-center">
                            <div class="box">
                                <h1>Data</h1>
                                <textarea ng-model="vm.Data"></textarea>
                                <br />
                                {{vm.Message}}
                            </div>


                            <mighty-awesome-file-edit data="vm.Data"
                                                      button-template="vm.ButtonTemplate"
                                                      message="vm.Message">
                            </mighty-awesome-file-edit>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
