@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 1em;
  font-family: 'Lato';
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-size: cover;
  background: url("images/paper.png"); }

#header {
  height: 100vh; }

#gofundme {
  position: relative;
  text-align: center;
  background: #FFF;
  width: 100%;
  height: 100vh; }
  #gofundme p {
    text-align: justify; }
  #gofundme #group-photo {
    position: absolute;
    top: 0;
    bottom: 270px;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/group.png"); }
  #gofundme #gofundme-info {
    position: absolute;
    right: 100px;
    left: 100px;
    background-color: #FFF;
    bottom: 100px;
    height: 170px; }
  #gofundme #gofundme-button-container {
    position: absolute;
    right: 0;
    width: 301px;
    padding-top: 40px;
    display: block; }
    #gofundme #gofundme-button-container #gofundme-powered-by {
      margin-bottom: -30px;
      margin-left: -100px;
      margin-top: 40px; }
    #gofundme #gofundme-button-container #gofundme-donate-button {
      white-space: nowrap;
      display: inline;
      color: #FFF;
      border-radius: 10px;
      font-family: 'Lato Black';
      padding: 20px;
      margin: 40px;
      background-color: #F29810;
      box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px -10px; }
    #gofundme #gofundme-button-container #gofundme-donate-button:hover {
      background-color: #F5AE44; }
    #gofundme #gofundme-button-container #gofundme-donate-button:active {
      background-color: #F2A52F; }
  #gofundme #gofundme-copy {
    position: absolute;
    right: 300px;
    left: 0; }

a {
  color: #000;
  text-decoration: none; }

.section {
  background-color: #fff;
  padding: 40px; }

.shadow {
  -webkit-box-shadow: 0px 25px 53px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 53px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 25px 53px -27px rgba(0, 0, 0, 0.75); }

#splash {
  position: absolute;
  bottom: 100px;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #454545; }

#header-navigation {
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 1;
  cursor: pointer; }
  #header-navigation a {
    color: #FFF;
    padding: 10px;
    border-bottom: #222222 4px solid; }
  #header-navigation a:hover {
    border-bottom: #454545 4px solid; }

#artist-page {
  text-align: center; }
  #artist-page .image-tag {
    width: 200px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-left: 180px; }
  #artist-page #artist-info {
    position: absolute;
    width: 500px;
    top: 40px;
    left: 40px;
    right: 40px;
    background-color: rgba(255, 255, 255, 0.5); }
    #artist-page #artist-info h1 {
      font-family: 'Lato';
      font-weight: 900;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 40px;
      margin-bottom: 0;
      margin-top: 0; }
    #artist-page #artist-info p {
      padding: 40px;
      margin-top: 0;
      margin-bottom: 0; }
    #artist-page #artist-info img {
      width: 400px; }
  #artist-page #artist-gallery {
    position: absolute;
    top: 0;
    left: 400px; }
    #artist-page #artist-gallery .bg {
      z-index: initial;
      height: auto;
      display: block;
      max-width: 50vw;
      margin-top: 40px;
      margin-left: 180px;
      margin-right: auto;
      z-index: 1; }

#splash-copy {
  padding: 40px;
  text-align: justify;
  position: absolute;
  bottom: 140px;
  top: 40px;
  right: 40px;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: auto; }

#artists {
  padding: 40px;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  min-height: 2000px;
  overflow: hidden; }
  #artists .artist {
    position: relative;
    height: 300px;
    margin-bottom: 240px;
    cursor: pointer; }
  #artists .profile-picture {
    position: absolute;
    left: 0;
    width: 300px;
    height: 340px;
    top: 0;
    bottom: 0; }
    #artists .profile-picture img {
      width: 300px; }
  #artists .profile-bg {
    position: absolute;
    left: 340px;
    height: 340px;
    width: auto;
    right: 0;
    top: 0;
    bottom: 0; }
    #artists .profile-bg img {
      width: 100%; }

#header-title {
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: #222222;
  color: #FFF;
  z-index: 2;
  width: 100%; }
  #header-title .letter {
    position: absolute;
    top: 35px;
    transition: top 1000ms ease-in, height 100ms ease-in;
    font-size: 1em; }
  #header-title .disconnect1 {
    top: 50px; }
  #header-title .disconnect2 {
    top: 20px; }
  #header-title .disconnect3 {
    top: 65px; }
  #header-title .disconnect4 {
    top: 27.5px; }
  #header-title .disconnect5 {
    top: 57.5px; }
  #header-title .disconnect6 {
    top: 42.5px; }
  #header-title .disconnect7 {
    top: 27.5px; }
  #header-title .disconnect8 {
    top: 50px; }
  #header-title .disconnect9 {
    top: 20px; }
  #header-title .disconnect10 {
    top: 50px; }
  #header-title .letter1 {
    left: 25px; }
  #header-title .letter2 {
    left: 75px; }
  #header-title .letter3 {
    left: 125px; }
  #header-title .letter4 {
    left: 175px; }
  #header-title .letter5 {
    left: 225px; }
  #header-title .letter6 {
    left: 275px; }
  #header-title .letter7 {
    left: 325px; }
  #header-title .letter8 {
    left: 375px; }
  #header-title .letter9 {
    left: 425px; }
  #header-title .letter10 {
    left: 475px; }

#header-title.affix {
  position: fixed;
  top: 0; }

@media screen and (max-width: 800px) {
  #gofundme #group-photo {
    position: absolute;
    bottom: 500px; }
  #gofundme #gofundme-info {
    right: 50px;
    left: 50px;
    bottom: 100px;
    height: 400px; } }

@media screen and (max-width: 1200px) {
  #artist-page {
    text-align: center; }
    #artist-page .image-tag {
      margin-left: 0px; }
    #artist-page #artist-info {
      position: relative;
      width: 90vw;
      right: 80px;
      background-color: rgba(255, 255, 255, 0.5); }
      #artist-page #artist-info h1 {
        font-family: 'Lato';
        font-weight: 900;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 40px;
        margin-bottom: 0;
        margin-top: 0; }
      #artist-page #artist-info p {
        padding: 40px;
        margin-top: 0;
        margin-bottom: 0; }
    #artist-page #artist-gallery {
      position: relative;
      top: 80px;
      left: 40px; }
      #artist-page #artist-gallery .bg {
        z-index: initial;
        height: auto;
        max-width: 90vw;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        z-index: 1; }
  #splash-copy {
    padding: 40px;
    bottom: 20px;
    top: 350px;
    right: 20px;
    left: 20px;
    width: auto; }
  #artists .artist {
    position: relative;
    height: 700px;
    margin-bottom: 200px;
    cursor: pointer; }
  #artists .profile-picture {
    left: 0;
    right: 0;
    width: auto;
    height: 340px;
    top: 0;
    bottom: 0; }
    #artists .profile-picture img {
      height: 340px;
      width: auto; }
  #artists .profile-bg {
    position: absolute;
    left: 0;
    height: 340px;
    width: auto;
    right: 0;
    top: 440px; }
    #artists .profile-bg img {
      width: 100%; }
  #header-title .disconnect1 {
    top: 45px; }
  #header-title .disconnect2 {
    top: 25px; }
  #header-title .disconnect3 {
    top: 55px; }
  #header-title .disconnect4 {
    top: 30px; }
  #header-title .disconnect5 {
    top: 50px; }
  #header-title .disconnect6 {
    top: 40px; }
  #header-title .disconnect7 {
    top: 30px; }
  #header-title .disconnect8 {
    top: 45px; }
  #header-title .disconnect9 {
    top: 25px; }
  #header-title .disconnect10 {
    top: 45px; }
  #header-title .letter1 {
    left: 15px; }
  #header-title .letter2 {
    left: 45px; }
  #header-title .letter3 {
    left: 75px; }
  #header-title .letter4 {
    left: 105px; }
  #header-title .letter5 {
    left: 135px; }
  #header-title .letter6 {
    left: 165px; }
  #header-title .letter7 {
    left: 195px; }
  #header-title .letter8 {
    left: 225px; }
  #header-title .letter9 {
    left: 255px; }
  #header-title .letter10 {
    left: 285px; } }
