<div>
    <div class="title"></div>
    <div class="content">
        <div class="copy " ng-click="vm.gotoBlog('angularjs-typescript-1');">
            <div class="count">Part 1</div>
            <h1> AngularJS + Typescript <i class="fa fa-arrow-right"></i></h1>
            Tutorial for building a simple Hello World app with TypeScript using NPM with VS Code. In this post, I go over everything
            you will need for TypeScript development.
        </div>
        <div class="copy " ng-click="vm.gotoBlog('angularjs-typescript-2');">
            <div class="count">Part 2</div>
            <h1> AngularJS + Typescript <i class="fa fa-arrow-right"></i></h1>
            Tutorial for building a simple Hello World app with Typescript using NPM with VS Code. In this post, I explain how to build
            an AngularJS app and controller in typescript.
        </div>
        <div class="copy" ng-click="vm.gotoHome()" style="cursor: pointer;margin-bottom: 100px;">
            <h1><i class="fa fa-arrow-left"></i> Back to Home</h1>
        </div>
    </div>
</div>