<div>
    <div class="title"></div>
    <div class="content">
        <div class="copy ">
            Alex is a full stack web developer and designer from Palm Beach, Florida. He has worked on enterprise solutions, iOS apps, marketing email campaigns, and wholesale trading platforms. Alex is proficient with <b>HTML CSS </b>and <b>JS</b> on the front end; <b>PHP</b> and<b> C# </b>server side.
            Please see his resume for more information.
        </div>
        <div class="nav-grid">

            <a href="https://firebasestorage.googleapis.com/v0/b/shoshingamestudio-90843.appspot.com/o/resume.pdf?alt=media&token=e473af16-1580-4624-8aa3-6431b952472f" target="_blank" class="nav-grid-item">
                <i class="fa fa-file-text-o"></i>
                <div class="nav-label">
                    Resume
                </div>
            </a>
            <a href="mailto:alexearley@me.com" target="_self" class="nav-grid-item">
                <i class="fa fa-envelope-o"></i>
                <div class="nav-label">
                    Email
                </div>
            </a>
            <a href="https://www.linkedin.com/in/alex-earley-00a73928" target="_blank" class="nav-grid-item">
                <i class="fa fa-linkedin-square"></i>
                <div class="nav-label">LinkedIn</div>
            </a>
            <div ng-click="vm.OpenProjects($event)" class="nav-grid-item">
                <i class="fa fa-coffee"></i>
                <div class="nav-label">
                    Projects
                </div>
            </div>
            <div class="projects" ng-class="{'active':vm.ShowProjects}">
                <a class="nav-grid-item" target="_blank" href="projects/map-editor/">
                    <i class="fa fa-coffee"></i>
                    <div class="nav-label">
                        Map Editor
                    </div>
                </a>
                <a class="nav-grid-item" target="_blank" href="projects/live-voting/">
                    <i class="fa fa-coffee"></i>
                    <div class="nav-label">
                        Live Vote
                    </div>
                </a>
                <a class="nav-grid-item" target="_blank" href="projects/">
                    <i class="fa fa-picture-o"></i>
                    <div class="nav-label">
                        Mockups
                    </div>
                </a>
                <a href="https://devearley.itch.io/trilub" target="_blank" class="nav-grid-item">
                    <i class="fa fa-gamepad"></i>
                    <div class="nav-label">
                        TriLub
                    </div>
                </a>
            </div>
            <a href="https://shoshingamestudio.itch.io/" target="_blank" class="nav-grid-item">
                <i class="fa fa-gamepad"></i>
                <div class="nav-label">
                    itch.io
                </div>
            </a>

            <a href="https://codepen.io/DevEarley/" target="_blank" class="nav-grid-item">
                <i class="fa fa-codepen"></i>
                <div class="nav-label">
                    Codepen
                </div>
            </a>
            <a href="https://github.com/devearley/" target="_blank" class="nav-grid-item">
                <i class="fa fa-github"></i>
                <div class="nav-label">
                    GitHub
                </div>
            </a>
            <a href="https://twitter.com/DevEarley/" target="_blank" class="nav-grid-item">
                <i class="fa fa-twitter-square "></i>
                <div class="nav-label">
                    Twitter
                </div>
            </a>

        </div>
    </div>
</div>