<div>
    <div class="title"></div>
    <div class="content">
        <div class="copy ">
            Alex is a full stack web developer and designer from Palm Beach, Florida. He has worked on enterprise solutions, iOS apps,
            marketing email campaigns, and wholesale trading platforms. Alex is proficient with <b>HTML SCSS</b>            and<b> AngularJS</b> on the front end; <b>C#</b> with <b>ASP.NET, Nancy</b> and <b>Dapper</b> server side. Please
            see his resume for more information.
        </div>
        <div class="nav-grid">
            <a href="mailto:alexearley@me.com" target="_self" class="nav-grid-item">
                <i class="fa fa-envelope-o"></i>
                <div class="nav-label">
                    Email
                </div>
            </a>
            <a href="https://www.linkedin.com/in/alex-earley-00a73928" target="_blank" class="nav-grid-item">
                <i class="fa fa-linkedin-square"></i>
                <div class="nav-label">LinkedIn</div>
            </a>
            <a href="https://twitter.com/DevEarley/" target="_blank" class="nav-grid-item">
                <i class="fa fa-twitter-square " style=" padding:0; border-radius:8px;"></i>
                <div class="nav-label">
                    Twitter
                </div>
            </a>
            <a href="https://github.com/devearley/" target="_blank" class="nav-grid-item">
                <i class="fa fa-github"></i>
                <div class="nav-label">
                    GitHub
                </div>
            </a>




            <a href="https://gist.github.com/DevEarley" target="_blank" class="nav-grid-item">
                <i class="fa fa-github-alt"></i>
                <div class="nav-label">Gists</div>
            </a>
            <a href="https://codepen.io/DevEarley/" target="_blank" class="nav-grid-item">
                <i class="fa fa-codepen"></i>
                <div class="nav-label">
                    Codepen
                </div>
            </a>

            <div ng-click="vm.OpenProjects($event)" class="nav-grid-item">
                <i class="fa" ng-class="{'fa-folder':!vm.ShowProjects,'fa-folder-open':vm.ShowProjects}"></i>
                <div class="nav-label">
                    Projects
                </div>
            </div>

            <div ng-click="vm.OpenResumes($event)" class="nav-grid-item">
                <i class="fa" ng-class="{'fa-folder':!vm.ShowResumes,'fa-folder-open':vm.ShowResumes}"></i>
                <div class="nav-label">
                    Resumes
                </div>
            </div>
            <div class="projects" ng-class="{'active':vm.ShowProjects}">
                <a href="https://shoshingamestudio.itch.io/" target="_blank" class="nav-grid-item">
                    <i class="fa fa-gamepad"></i>
                    <div class="nav-label">
                        itch.io
                    </div>
                </a>
                <a class="nav-grid-item" target="_blank" href="projects/live-voting/">
                    <i class="fa fa-coffee"></i>
                    <div class="nav-label">
                        Live Vote
                    </div>
                </a>
                <a class="nav-grid-item" target="_blank" href="projects/">
                    <i class="fa fa-picture-o"></i>
                    <div class="nav-label">
                        Mockups
                    </div>
                </a>
                <a class="nav-grid-item" target="_blank" href="projects/map-editor/">
                    <i class="fa fa-coffee"></i>
                    <div class="nav-label">
                        Map Editor
                    </div>
                </a>
                <a class="nav-grid-item nav-grid-item-auto" target="_blank" href="projects/gallery-awesome/">
                    <i class="fa fa-coffee"></i>
                    <div class="nav-label">
                        Gallery-Awesome
                    </div>
                </a>
                <a class="nav-grid-item nav-grid-item-auto" target="_blank" href="https://codepen.io/DevEarley/pen/XRpmBr">
                    <i class="fa fa-codepen"></i>
                    <div class="nav-label">
                      Quixotic-Circle-Graph
                    </div>
                </a>
                <a class="nav-grid-item nav-grid-item-auto" target="_blank" href="projects/mighty-file-editor/">
                    <i class="fa fa-coffee"></i>
                    <div class="nav-label">
                      Mighty-File-Editor
                    </div>
                </a>
            </div>
            <div class="projects" ng-class="{'active':vm.ShowResumes}">
                <a href="https://firebasestorage.googleapis.com/v0/b/shoshingamestudio-90843.appspot.com/o/resumes%2FAlexEarley-GameDevResume%20(1).docx?alt=media&token=c919612f-c3cd-4a1e-ac32-0fb4063330e5"
                    target="_blank" class="nav-grid-item">
                    <i class="fa fa-file-text-o"></i>
                    <div class="nav-label">
                        Game-Dev Resume
                    </div>
                </a>
                <a href="https://firebasestorage.googleapis.com/v0/b/shoshingamestudio-90843.appspot.com/o/resumes%2FAlexEarley-GameDevResume.pdf?alt=media&token=93357d95-c4a7-45d4-9b9a-182310314abe"
                    target="_blank" class="nav-grid-item">
                    <i class="fa fa-file-pdf-o"></i>
                    <div class="nav-label">
                        Game-Dev Resume
                    </div>
                </a>
                <a href="Resume.docx" target="_blank" class="nav-grid-item">
                    <i class="fa fa-file-text-o"></i>
                    <div class="nav-label">
                        Web-Dev Resume
                    </div>
                </a>
                <a href="Resume.pdf" target="_blank" class="nav-grid-item">
                    <i class="fa fa-file-pdf-o"></i>
                    <div class="nav-label">
                        Web-Dev Resume
                    </div>
                </a>
            </div>
        </div>
        <div class="copy">
            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Download this spritesheet I made for nothin. <a href="https://twitter.com/hashtag/cc0?src=hash">#cc0</a>                    License. <a href="https://twitter.com/hashtag/pixelart?src=hash">#pixelart</a> <a href="https://twitter.com/hashtag/gamedev?src=hash">#gamedev</a>                    <a href="https://t.co/Ck5MpUZWo4">https://t.co/Ck5MpUZWo4</a> <a href="https://t.co/TShcOamPyi">pic.twitter.com/TShcOamPyi</a></p>&mdash;
                AlexEarley (@DevEarley) <a href="https://twitter.com/DevEarley/status/909962204715405317">September 19, 2017</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="copy">
            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Tired Ol&#39; Plumber <a href="https://twitter.com/hashtag/pixelart?src=hash">#pixelart</a> <a href="https://t.co/j5LYWh3pgJ">pic.twitter.com/j5LYWh3pgJ</a></p>&mdash;
                AlexEarley (@DevEarley) <a href="https://twitter.com/DevEarley/status/844317060360523776">March 21, 2017</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="copy">
            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Time is relative. Slow time on click. <a href="https://twitter.com/hashtag/CSharp?src=hash">#CSharp</a>
                    <a
                        href="https://twitter.com/hashtag/gamedev?src=hash">#gamedev</a> <a href="https://twitter.com/hashtag/unity3D?src=hash">#unity3D</a> <a href="https://t.co/QfJIHwnCQ4">https://t.co/QfJIHwnCQ4</a></p>&mdash;
                AlexEarley (@DevEarley) <a href="https://twitter.com/DevEarley/status/858155019551551488">April 29, 2017</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="copy">
            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">My site&#39;s repo.<a href="https://twitter.com/hashtag/angularjs?src=hash">#angularjs</a> <a href="https://twitter.com/hashtag/Bootstrap?src=hash">#Bootstrap</a>                    <a href="https://twitter.com/hashtag/javascript?src=hash">#javascript</a> <a href="https://twitter.com/hashtag/git?src=hash">#git</a>                    <a href="https://twitter.com/hashtag/html5?src=hash">#html5</a> <a href="https://twitter.com/hashtag/UIUX?src=hash">#UIUX</a>                    <a href="https://t.co/idHSzBAYR1">https://t.co/idHSzBAYR1</a><a href="https://t.co/diKoIbnJNj">https://t.co/diKoIbnJNj</a>                    <a href="https://t.co/q4AA8SKAwd">pic.twitter.com/q4AA8SKAwd</a></p>&mdash; AlexEarley (@DevEarley)
                <a
                    href="https://twitter.com/DevEarley/status/858157206134501377">April 29, 2017</a>
            </blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="copy">
            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Map Editor I made for <a href="https://twitter.com/hashtag/TriLub?src=hash">#TriLub</a>. Exports to JSON,
                    consumed by TriLub in <a href="https://twitter.com/hashtag/unity3d?src=hash">#unity3d</a><a href="https://t.co/WOgfXs6KA4">https://t.co/WOgfXs6KA4</a><br><br>                    <a href="https://twitter.com/hashtag/gamedev?src=hash">#gamedev</a> <a href="https://twitter.com/hashtag/html5?src=hash">#html5</a>                    <a href="https://twitter.com/hashtag/purejavascript?src=hash">#purejavascript</a> <a href="https://t.co/eFMTd1k0sR">pic.twitter.com/eFMTd1k0sR</a></p>&mdash;
                AlexEarley (@DevEarley) <a href="https://twitter.com/DevEarley/status/817560195144544256">January 7, 2017</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>