<div>
        <div class="title">Mockups- Windows Apps</div>
        <div class="content">
                <div class="copy blog-copy ">
                        <h1>Mockups - Windows</h1>
                        <img class="gallery-img"
                             src="images/win/win-tabbed.png">
                        <img class="gallery-img"
                             src="images/win/win-tabbed-expanded.png">
                </div>
                <div class="copy"
                     ng-click="vm.gotoHome()"
                     style="cursor: pointer;margin-bottom: 100px;">
                        <h1>
                                <i class="fa fa-arrow-left"></i> Back to Home</h1>
                </div>
        </div>
</div>