<div>
        <div class="title">Mockups - Mobile</div>
        <div class="content">
                <div class="copy ">
                        <h1>Mockups - IOT</h1>
                        <img class="gallery-img"
                             src="images/mobile/mobile-look-and-feel.png">
                        <img class="gallery-img"
                             src="images/mobile/mobile-list.png">
                        <img class="gallery-img"
                             src="images/mobile/mobile-menu.png">
                </div>
                <div class="copy"
                     ng-click="onClickMockups()"
                     style="cursor: pointer;margin-bottom: 100px;">
                        <h1>
                                <i class="fa fa-arrow-left"></i> Back to Home</h1>
                </div>
        </div>
</div>