<div>
        <div class="title">Mockups - Web Apps</div>
        <div class="content">
                <div class="copy  blog-copy ">
                        <h1>Mockups - Web Apps - Page 2</h1>
                        <img class="gallery-img"
                             src="images/web/web-ecannex.png">
                        <img class="gallery-img"
                             src="images/web/web-signal-vault-2.png">
                        <img class="gallery-img"
                             src="images/web/web-signal-vault.png">
                </div>
                <div class="copy"
                ng-click="onClickMockup('web')"
                style="cursor: pointer;margin-bottom: 100px;">
                   <h1>
                           <i class="fa fa-arrow-left"></i> Mockups - Web Apps - Page 1</h1>
           </div>
                <div class="copy"
                     ng-click="vm.gotoHome()"
                     style="cursor: pointer;margin-bottom: 100px;">
                        <h1>
                                <i class="fa fa-arrow-left"></i> Back to Home</h1>
                </div>
        </div>
</div>