<div>
        <div class="title">Mockups - Web Apps</div>
        <div class="content">
                <div class="copy ">
                        <h1>Mockups - Web Apps</h1>
                        <img class="gallery-img"
                             src="images/web/web-dashboard.png">
                        <img class="gallery-img"
                             src="images/web/web-dashboard-2.png">
                        <img class="gallery-img"
                             src="images/web-dialog.png">
                        <img class="gallery-img"
                             src="images/web-dialog-2.png">
                        <img class="gallery-img"
                             src="images/web-fields.png">
                        <img class="gallery-img"
                             src="images/web-high-level.png">
                        <img class="gallery-img"
                             src="images/web-lower-level.png">
                        <img class="gallery-img"
                             src="images/web-mobile-dashboard.png">
                        <img class="gallery-img"
                             src="images/web-mobile-list.png">
                        <img class="gallery-img"
                             src="images/web-mobile-navigation.png">
                        <img class="gallery-img"
                             src="images/web-mockups.png">
                        <img class="gallery-img"
                             src="images/web-registration.png">
                        <img class="gallery-img"
                             src="images/web-registration-alt.png">
                        <img class="gallery-img"
                             src="images/web-security-factors.png">
                </div>
                <div class="copy"
                     ng-click="vm.gotoHome()"
                     style="cursor: pointer;margin-bottom: 100px;">
                        <h1>
                                <i class="fa fa-arrow-left"></i> Back to Home</h1>
                </div>
        </div>
</div>