<div>
        <div class="title"></div>
        <div class="content">
                <div class="copy">
                        <h1>Mockups - IOT</h1>
                        <img class="gallery-img"
                             src="images/iot/iot-thermostat.png">
                        <img class="gallery-img"
                             src="images/iot/iot-ios-thermostat.png">
                </div>
                <div class="copy"
                     ng-click="onClickMockups()"
                     style="cursor: pointer;margin-bottom: 100px;">
                        <h1>
                                <i class="fa fa-arrow-left"></i> Back to Mockups</h1>
                </div>
        </div>
</div>