<div>
        <div class="title"></div>
        <div class="content">
                <div class="copy">
                        <h1>Mockups - IOT</h1>
                        <img class="gallery-img"
                             src="images/iot/iot-thermostat.png">
                        <img class="gallery-img"
                             src="images/iot/iot-setup.png">
                        <img class="gallery-img"
                             src="images/iot/iot-ios-startup.png">
                        <img class="gallery-img"
                             src="images/iot/iot-ios-qr.png">
                        <img class="gallery-img"
                             src="images/iot/iot-ios-pin.png">
                        <img class="gallery-img"
                             src="images/iot/iot-setup-success.png">
                        <img class="gallery-img"
                             src="images/iot/iot-ios-thermostat.png">
                        <img class="gallery-img"
                             src="images/iot/iot-ios-notification.png">
                        <img class="gallery-img"
                             src="images/WebApps.png">
                </div>
                <div class="copy" ng-click="vm.gotoHome()" style="cursor: pointer;margin-bottom: 100px;">
                                <h1><i class="fa fa-arrow-left"></i> Back to Home</h1>
                            </div>
        </div>
</div>